<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @consultant.client %>
</p>

<p>
  <strong>Contractor:</strong>
  <%= @consultant.contractor %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @consultant.employee %>
</p>

<%= link_to 'Edit', edit_consultant_path(@consultant) %> |
<%= link_to 'Back', consultants_path %>
