<%= form_with(model: partner_company, local: true) do |form| %>
  <% if partner_company.errors.any? %>
    <div class="alert alert-danger mt-3">
      <h5><%= pluralize(partner_company.errors.count, "error") %> prohibited this partner_company from being saved:</h5>

      <ul class="mb-0">
        <% partner_company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= form.label :name, class: "control-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <%= form.submit class: "btn btn-success" %>
  <%= link_to "Back", back_path, class: "btn btn-danger" %>
<% end %>
