<div class="container mt-4">
  <h1><%= @client.first_name %> <%= @client.last_name %></h1>

  <p class="mt-3">
    <strong>Ctoken:</strong>
    <%= @client.ctoken %>
  </p>

  <%= link_to "Edit", edit_client_path(@client), class: "btn btn-primary" %>
  <%= link_to "Back", clients_path, class: "btn btn-primary" %>
</div>
