

<p>
  <strong>First Name:</strong>
  <%= @contractor.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @contractor.last_name %>
</p>

<p>
  <strong>Partner Company:</strong>
  <%= @contractor.partner_company.name %>
</p>

<%= link_to 'Edit', edit_contractor_path(@contractor) %> |
<%= link_to 'Back', contractors_path %>
