<div class="container mt-4">
  <h1><%= @contractor.first_name %> <%= @contractor.last_name %></h1>

  <p class="mt-3">
    <strong>Partner Company:</strong>
    <%= @contractor.partner_company.name %>
  </p>

  <%= link_to "Edit", edit_contractor_path(@contractor), class: "btn btn-primary" %>
  <%= link_to "Back", contractors_path, class: "btn btn-primary" %>
</div>
